<%= form_for @customer do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag t('shoppe.customers.customer_information') do %>
    <div class="splitContainer">
      <dl class="third">
        <dt>
          <%= f.label :first_name, t('shoppe.customers.first_name') %>
        </dt>
        <dd>
          <%= f.text_field :first_name, :class => "text focus" %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :last_name, t('shoppe.customers.last_name') %>
        </dt>
        <dd>
          <%= f.text_field :last_name, :class => "text" %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :company, t('shoppe.customers.company') %>
        </dt>
        <dd>
          <%= f.text_field :company, :class => "text" %>
        </dd>
      </dl>
    </div>
    <div class="splitContainer">
      <dl class="third">
        <dt>
          <%= f.label :email, t('shoppe.customers.email') %>
        </dt>
        <dd>
          <%= f.text_field :email, :class => "text" %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :phone, t('shoppe.customers.phone') %>
        </dt>
        <dd>
          <%= f.text_field :phone, :class => "text" %>
        </dd>
      </dl>
      <dl class="third">
        <dt>
          <%= f.label :mobile, t('shoppe.customers.mobile_phone') %>
        </dt>
        <dd>
          <%= f.text_field :mobile, :class => "text" %>
        </dd>
      </dl>
    </div>
  <% end %>
  <p class="submit">
    <% unless @customer.new_record? %>
      <span class="right">
        <%= link_to t('shoppe.customers.delete'), %>
          @customer,
          class: 'button purple',
          method: :delete,
          data: {confirm: t('shoppe.customers.delete_confirmation')}
        <% end %>
      </span>
    <% end %>
    <%= f.submit t('shoppe.customers.save'), %>
      class: 'button green',
      data: {disable_with: (@customer.new_record? ? t('shoppe.customers.creating_customer') : t('shoppe.customers.updating_customer'))}
    <% end %>
    <%= link_to t('shoppe.customers.cancel'), :customers, :class => 'button' %>
  </p>
<% end %>
