<%= form_for @delivery_service do |f| %>
  <%= f.error_messages %>
  <%= field_set_tag t('shoppe.delivery_services.details') do %>
    <div class="splitContainer">
      <dl class="half">
        <dt>
          <%= f.label :name, t('shoppe.delivery_services.name') %>
        </dt>
        <dd>
          <%= f.text_field :name, :class => 'focus text' %>
        </dd>
      </dl>
      <dl class="half">
        <dt>
          <%= f.label :code, t('shoppe.delivery_services.code') %>
        </dt>
        <dd>
          <%= f.text_field :code, :class => 'text' %>
        </dd>
      </dl>
    </div>
    <div class="splitContainer">
      <dl class="half">
        <dt>
          <%= f.label :active, t('shoppe.delivery_services.active') %>
        </dt>
        <dd class="checkbox">
          <%= f.check_box :active %>
          <%= f.label :active,  t('shoppe.delivery_services.active_info') %>
        </dd>
      </dl>
      <dl class="half">
        <dt>
          <%= f.label :default, t('shoppe.delivery_services.default') %>
        </dt>
        <dd class="checkbox">
          <%= f.check_box :default %>
          <%= f.label :default,  t('shoppe.delivery_services.default_info') %>
        </dd>
      </dl>
    </div>
  <% end %>
  <%= field_set_tag  t('shoppe.delivery_services.courier') do %>
    <div class="splitContainer">
      <dl class="half">
        <dt>
          <%= f.label :courier,  t('shoppe.delivery_services.courier_name') %>
        </dt>
        <dd>
          <%= f.text_field :courier, :class => 'text' %>
        </dd>
      </dl>
      <dl class="half">
        <dt>
          <%= f.label :tracking_url,  t('shoppe.delivery_services.tracking_url') %>
        </dt>
        <dd>
          <%= f.text_field :tracking_url, :class => 'text' %>
          <p class="help">
            <%= t('shoppe.delivery_services.tracking_url_help_html') %>
          </p>
        </dd>
      </dl>
    </div>
  <% end %>
  <p class="submit">
    <% unless @delivery_service.new_record? %>
      <span class="right">
        <%= link_to  t('shoppe.delete'), [@delivery_service], :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.delivery_services.delete_confirmation')} %>
      </span>
    <% end %>
    <%= f.submit t('shoppe.submit'), :class => 'button green' %>
    <%= link_to t('shoppe.cancel'), :delivery_services, :class => 'button' %>
  </p>
<% end %>
