<% @page_title = t('shoppe.products.products') %>
<%= content_for :header do %>
  <p class="buttons">
    <%= link_to t('shoppe.products.new_product'), :new_product, :class => 'button green'   %>
    <%= link_to t('shoppe.products.import_products'), :import_products, :class => 'button gray' %>
  </p>
  <h2 class="products">
    <%= t('shoppe.products.products') %>
  </h2>
<% end %>
<%= render 'table', :products => @products %>
